/* Skriv din Anonymitetskod här ISGA11-0041-XTA*/

/* Länka in webfonten Montserrat här*/


* {
  box-sizing: border-box;
 
}
html {
  font-size: 16px;
}
header>img {
  width: 100px;
}


/* ****************************************************************************** */
/*Deluppgift 2, Meny */
nav {
    width: 95%;
    height: 30px;
    background: rgb(241, 252, 255);
}

.dropdownContainer {
    /*placeholder class*/
}

.dropdownContainer:hover {
    background-color: lightgray;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

nav ul li {
    margin-left: 15px;
}

nav ul a {
    text-decoration: none;
    color: black;
}

nav ul a:hover {
    color: black;
    background-color: lightgray;
}

.dropdown {
    display: none;
    z-index: 1000;
    background-color: rgb(241, 252, 255); 
}

.dropdownContainer:hover .dropdown {
    display: block;
}
/* ****************************************************************************** */
/* Deluppgift 3, Layout 





/* ****************************************************************************** */
/*Deluppgift 4, Responsivitet */ 




/* ****************************************************************************** */