/* Skriv din Anonymitetskod här ISGA11-0041-XTA*/

/* Länka in webfonten Montserrat här*/
/* https://fonts.google.com/specimen/Montserrat?query=montserrat&preview.text_type=custom */

* {
  box-sizing: border-box;
 
}
html {
  font-size: 16px;
}
header>img {
  width: 100px;
}


/* ****************************************************************************** */
/*Deluppgift 2, Meny */
nav {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    background: rgb(241, 252, 255);
}

.dropdownContainer {
    /*placeholder class*/
}

.dropdownContainer:hover {
    background-color: lightgray;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

nav ul li {
    margin-left: 15px;
}

nav ul a {
    text-decoration: none;
    color: black;
}

nav ul a:hover {
    color: black;
    background-color: lightgray;
}

.dropdown {
    display: none;
    z-index: 1000;
    background-color: rgb(241, 252, 255); 
}

.dropdownContainer:hover .dropdown {
    display: block;
}
/* ****************************************************************************** */
/* Deluppgift 3, Layout */
body {
    background: url(../images/owls.png);
    font-family: 'Montserrat', sans-serif;
    padding: 2rem;
}

header {
    width: 100%;
    background-color: lightskyblue;
    border-radius: 5px;
    padding-bottom: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

header nav ul {
    margin: 0px;
}

header img {
    display: inline;
}

header h1 {
    display: inline;
}

main {
    float: left;
    width: 80%;
    background-color: rgba(255,255,255,0.9);
    text-align: center;
    height: 55vh;
}

main img {
    border: 2px solid black;
    border-radius: 5px;
}

aside {
    float: right;
    width: 20%;
    height: 55vh;
    background-color: rgba(155,155,155,0.9);
}

footer {
    background-color: lightskyblue;
    border-radius: 5px;
    width: 100%;
    float: left;
    text-align: center;
}

div {
    float: left;
    width: 20%;
    margin-left: 10%;
    text-align: center;
    position: relative;
}

div h4 {
    position: absolute;
    bottom: -22px;
    width: 100%;
    height: 60px;
    padding-top: 20px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: lightskyblue;
    opacity: 0.9;
}

div img {
    max-width: 100%;
}
/* ****************************************************************************** */
/*Deluppgift 4, Responsivitet */ 
@media screen and (max-width: 1200px) and (min-width: 401px) {
    nav {
        height: 40px;
        font-size: 25px;
    }
    
    nav ul li {
        margin: 5px 20px 0px 20px;
    }
    
    main {
        width: 100%;  
        height: 500px;
    }
    
    main p {
        text-align: left;
    }
    
    aside {
        width: 100%;
        height: auto;
    }
    
    form {
        font-size: 17px;
    }
    
    input[type="text"] {
        width: 95%;
    }
    
    input[type="submit"] {
        width: 95%;
    }
    
    input[type="radio"] {
        width: 95%;
        height: 20px;
    }
    
    textarea {
        width: 95%;
        height: 13%;
    }
}

@media screen and (max-width: 400px) {
    body {
        margin: 0px;
        padding: 0px;
        font-size: 14px;
    }
    
    nav {
        font-size: 17px;
        height: 40px;
    }
    
    nav ul {
        justify-content: space-between;
        margin: 0px;
    }
    
    nav ul li {
        margin: auto;
    }
    
    main {
        text-align: center;
        width: 100%;
        height: 750px;
    }
    
    main p {
        text-align: left;
    }
    
    /*kunde inte få den sista att hamna i mitten*/
    div {
        width: 48%;
        margin: 1%;
    }
    
    div img {
        border-bottom: none;
    }
    
    div h4 {
        position: relative;
        bottom: 3px;
        padding: 20px;
        margin: 0px;
    }
    
    aside {
        display: none;
    }
}



/* ****************************************************************************** */